* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(rgba(0,0,0,1.0),rgba(0,0,0,0.1)),url('form/background.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-blend-mode: darken;
    opacity: 0.98;
    height: 100vh;
    margin: 0;

}